<%- include('partials/head'); %>

    <%- include('partials/navigation'); %>

        <div class="container">
            <header class="row">
                <div class="col-l-12 text-center">
                    <img src="/img/pews-logo.png" class="animate__animated animate__bounceIn" alt="">
                </div>
            </header>
        </div>

        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>The most suscribe youtuber</h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure quod iusto natus nobis repellat delectus! Libero voluptates quos officiis accusamus odio laudantium consequatur laborum mollitia ratione, quibusdam possimus ullam modi.</p>
                </div>
            </div>
        </div>
        <%- include('partials/footer')%>